.DS_Store
__pycache__
.ipynb_checkpoints
.idea
.vscode

*.pkl
*.pcl
*.p
*.png
*.pdf
*.mat
*.txt

!requirements.txt

models
data
ml-lps-recon-length
slurm-*.out
virtual-diagnostics-euxfel-current-gan
virtual-diagnostics-euxfel-current-legacy
virtual-diagnostics-euxfel-current-supervised
virtual-diagnostics-euxfel-lps-legacy
wandb
